<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Blog</title>
</head>
<body>
<h1>Add Blog</h1>
<form action="/blog/save" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Title</label>
        <input type="text" th:field="*{title}"/>
    </div>
    <div>
        <label>Writer</label>
        <input type="text" th:field="*{writer}"/>
    </div>
    <div>
        <label>Content</label>
        <input type="text" th:field="*{content}"/>
    </div>
    <div>
        <label>DateCreated</label>
        <input type="text" th:field="*{dateCreated}"/>
    </div>
    <div>
        <label>Category</label>
        <input type="text" th:field="*{category}"/>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>