<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
</head>
<body>

<h1 style="text-align: center; margin: 10px auto">List Product</h1>
<p th:text="${message}" style="text-align: center; color: red; font-size: 25px" id="mess"></p>
<a th:href="@{/product/add}">
    <button class="btn btn-outline-primary">Add Product</button>
</a>
<div class="row mt-2">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <form class="d-flex" action="/product/search">
            <input class="form-control me-2" name="name" type="search" placeholder="Search name" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Company</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product, status : ${productList}">
        <td th:text="${status.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.company}"></td>
        <td>
            <a th:href="@{/product/edit/__${product.id}__}">
                <button class="btn btn-outline-primary">Edit</button>
            </a>
        </td>
        <td>
            <a th:href="@{/product/delete/__${product.id}__}">
                <button class="btn btn-outline-danger">Delete</button>
            </a>
        </td>
    </tr>
</table>

<script src="../bootstrap/js/bootstrap.js"></script>

</body>
</html>